:root{
  --colorTim1: #8b4513;
  --colorTim2: #191970;
  --colorTim3: #808000;
  --colorTim4: #008000;
  --colorTim5: #008b8b;
  --colorTim6: #9acd32;
  --colorTim7: #8b008b;
  --colorTim8: #ff4500;
  --colorTim9: #ffa500;
  --colorTim10: #ffff00;
  --colorTim11: #7fff00;
  --colorTim12: #00fa9a;
  --colorTim13: #8a2be2;
  --colorTim14: #4169e1;
  --colorTim15: #dc143c;
  --colorTim16: #00ffff;
  --colorTim17: #00bfff;
  --colorTim18: #0000ff;
  --colorTim19: #d8bfd8;
  --colorTim20: #ff00ff;
  --colorTim21: #db7093;
  --colorTim22: #f0e68c;
  --colorTim23: #ff1493;
  --colorTim24: #ffa07a;
  --colorTim25: #ee82ee;
}

.App {
  padding: 5px;
  gap: 5px;
  justify-content: center;
}

.testDrag{
  background-color: silver;
  width: 150px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile{
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  background-color: white;
  font-weight: bold;
}

.coor{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tileBoard{
  display: inline-grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  row-gap: 5px;
  column-gap: 10px;
  border: solid 2px;
  padding: 10px;
  padding-right: 15px;
  background-color: azure;
}

.desa{
  border: solid 5px red;
}

.active{
  background-color: blue;
  color: white;
}

.tim1, .tim26, .tim51{
  background-color: var(--colorTim1);
  color: white;
}

.tim2, .tim27, .tim52{
  background-color: var(--colorTim2);
  color: white;
}

.tim3, .tim28, .tim53{
  background-color: var(--colorTim3);
  color: white;
}

.tim4, .tim29, .tim54{
  background-color: var(--colorTim4);
  color: white;
}

.tim5, .tim30, .tim55{
  background-color: var(--colorTim5);
  color: white;
}

.tim6, .tim31, .tim56{
  background-color: var(--colorTim6);
  color: white;
}

.tim7, .tim32, .tim57{
  background-color: var(--colorTim7);
  color: white;
}


.tim8, .tim33, .tim58{
  background-color: var(--colorTim8);
  color: white;
}

.tim9, .tim34, .tim59{
  background-color: var(--colorTim9);
  color: black;
}

.tim10, .tim35, .tim60{
  background-color: var(--colorTim10);
  color: black;
}

.tim11, .tim36, .tim61{
  background-color: var(--colorTim11);
  color: black;
}

.tim12, .tim37, .tim62{
  background-color: var(--colorTim12);
  color: black;
}

.tim13, .tim38, .tim63{
  background-color: var(--colorTim13);
  color: white;
}

.tim14, .tim39, .tim64{
  background-color: var(--colorTim14);
  color: white;
}

.tim15, .tim40, .tim65{
  background-color: var(--colorTim15);
  color: white;
}

.tim16, .tim41, .tim66{
  background-color: var(--colorTim16);
  color: black;
}

.tim17, .tim42, .tim67{
  background-color: var(--colorTim17);
  color: white;
}

.tim18, .tim43, .tim68{
  background-color: var(--colorTim18);
  color: white;
}

.tim19, .tim44, .tim69{
  background-color: var(--colorTim19);
  color: black;
}

.tim20, .tim45, .tim70{
  background-color: var(--colorTim20);
  color: black;
}

.tim21, .tim46, .tim71{
  background-color: var(--colorTim21);
  color: white;
}

.tim22, .tim47, .tim72{
  background-color: var(--colorTim22);
  color: black;
}

.tim23, .tim48, .tim73{
  background-color: var(--colorTim23);
  color: white;
}

.tim24, .tim49, .tim74{
  background-color: var(--colorTim24);
  color: black;
}

.tim25, .tim50, .tim75{
  background-color: var(--colorTim25);
  color: black;
}

.over{
  background-color: silver;
}

#leaderboard{
  border: solid 2px;
  padding: 10px;
  padding-right: 30px;
  margin: 5px;
}

ul{
  list-style-type: 1;
}

.btn{
  width: 100%;
}